html, body {
    height: 100%;
}

body {
    @include responsive-style( display, flex !important, block !important );
    flex-direction: column;
}

#panel {
    flex: 1;
}

.btn-primary {
    background-color: $primary-900 !important;
    border-color: $primary-900 !important;
    color: $white !important;
}

.btn {
    border-radius: 1.6875rem;
}

.btn-filter {
    color: $secondary-900 !important;
    font-size: 1rem;
    font-weight: 600;
    border: 0 !important;

    .statement {
        @include responsive-style( display, inline, none );
    }
}

.text-muted {
    color: $muted !important;
}